<%= provide(:title, 'Thank you !') %>
<body>
<div class="header">
  <div class="container">
    <div class="brand">
      <a href="http://tedxunilag.com"><img src="<%= image_path 'TEDx_logo.png' %>"></a>
    </div>
  </div>
</div>

<div class="content">
  <div class="container spaced">
    <h1>Thank you for volunteering ! We'll get back to you as soon as we can.</h1>
    <div class="subtitle row nav-back">
      <a href="http://tedxunilag.com">Go back to our home page.</a>
    </div>
  </div>
</div>
</body>
